<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="VT_1._0_beta.My.MySettings.Voting_SystemConnectionString"
            connectionString="Data Source=LAPTOP-M5GTDGE4\SQLEXPRESS;Initial Catalog=&quot;Voting System&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>